@{
    ViewData["Title"] = "About";
}
<h2>@ViewData["Title"]</h2>
<h3>@ViewData["Message"]</h3>

<p>C Me is a personality showcase network aiming to make the unemployed, employable.</p>
<p>To do this, users can sign up to create a C Me page that allows potential employers to see the candidates interest and personality to find the perfect fit for their open positions in terms of interest and culture.</p>
<p>This allows companies to hire based on the culture that the employers are after and allows the youth with no prior work experience to find a place they would be happy to work in. This creates a longer and more promising relationship between employer and employee.</p>
<p>Thank you for allowing us to join you on <b>your</b> Journey into your employment or employing some of our awesome candidates.</p>
