@{
    ViewData["Title"] = "Contact";
}

<h1>For help highlighting who you are and standing out<br /> Or for helping us shape the future of <b>C Me</b> with your awesome ideas</h1>
<br />
<h2>Email us at:</h2>
<address>
    <h2><strong>Support:</strong> <a href="mailto:support@cmeonline.co">support@cmeonline.co</a><br /></h2>
</address>
