@{
    ViewData["Title"] = "Home Page";
}

<div class="col-sm-12 justify-content-center">
    <img src="~/images/IMG_0036.jpg" class="col-sm-12 col-md-8 col-lg-5 logo"/>
</div>

<h1 data-aos="fade-in">Welcome to<br> <b>C me</b> online</h1>
<br>
<h3 data-aos="zoom-in">Human being, not human doing</h3>
<br>